@font-face {
  font-family: 'CoinbaseSans';
  src: url('./Coinbase_Sans-Extra_Light-web-1.32.woff2') format('woff2');
  font-weight: 200;
  font-style: normal; /* Extra-Light */
}

@font-face {
  font-family: 'CoinbaseSans';
  src: url('./Coinbase_Sans-Extra_Light_Italic-web-1.32.woff2') format('woff2');
  font-weight: 200;
  font-style: italic; /* Extra-Light Italic */
}

@font-face {
  font-family: 'CoinbaseSans';
  src: url('./Coinbase_Sans-Light-web-1.32.woff2') format('woff2');
  font-weight: 300;
  font-style: normal; /* Light */
}

@font-face {
  font-family: 'CoinbaseSans';
  src: url('./Coinbase_Sans-Light_Italic-web-1.32.woff2') format('woff2');
  font-weight: 300;
  font-style: italic; /* Light Italic */
}

@font-face {
  font-family: 'CoinbaseSans';
  src: url('./Coinbase_Sans-Regular-web-1.32.woff2') format('woff2');
  font-weight: normal;
  font-style: normal; /* Regular */
}

@font-face {
  font-family: 'CoinbaseSans';
  src: url('./Coinbase_Sans-Regular_Italic-web-1.32.woff2') format('woff2');
  font-weight: normal;
  font-style: italic; /* Regular Italic */
}

@font-face {
  font-family: 'CoinbaseSans';
  src: url('./Coinbase_Sans-Medium-web-1.32.woff2') format('woff2');
  font-weight: 500;
  font-style: normal; /* Medium */
}

@font-face {
  font-family: 'CoinbaseSans';
  src: url('./Coinbase_Sans-Medium_Italic-web-1.32.woff2') format('woff2');
  font-weight: 500;
  font-style: italic; /* Medium Italic */
}

@font-face {
  font-family: 'CoinbaseSans';
  src: url('./Coinbase_Sans-Bold-web-1.32.woff2') format('woff2');
  font-weight: 700;
  font-style: normal; /* Bold */
}

@font-face {
  font-family: 'CoinbaseSans';
  src: url('./Coinbase_Sans-Bold_Italic-web-1.32.woff2') format('woff2');
  font-weight: 700;
  font-style: italic; /* Bold Italic */
}
